<a href="https://colab.research.google.com/github/ernie-Griffiths/Determining-the-Validity-of-Genetically-Engineered-Crops-in-a-Warming-Climate-Using-Machine-Learning/blob/main/Masters_Data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imported Libaries that will be used within this data exploration section.

In [ ]:
import pandas as pd
import numpy as np

Changing of settings for veiwing

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option("max_rows", 100)

#Soil data Exploration.

In [ ]:
Soil_data = pd.read_csv("/content/drive/MyDrive/University of reading/MSC FINAL project/Data/Data Files/Soil_Data/g2f_2019_soil_data[1].csv")

In [ ]:
len(Soil_data.columns)

29

In [ ]:
Soil_data[["Location","1:1 S Salts mmho/cm","Potassium ppm K","Nitrate-N ppm N","% Silt","1:1 Soil pH","Texture"]].sample(n=3)

,Location,1:1 S Salts mmho/cm,Potassium ppm K,Nitrate-N ppm N,% Silt,1:1 Soil pH,Texture
0,DEH1,0.13,125,28.6,9,6.6,Loamy Sand
18,OHH1,0.41,163,30.9,32,6.6,Clay
15,NYH1,0.20,65,13.3,24,7.7,Sandy Clay Loam

In [ ]:
print(Soil_data["Location"].unique())

['DEH1' 'GAH1' 'GAH2' 'GEH1' 'GEH2' 'IAH1' 'IAH2 ' 'IAH3 ' 'IAH4 ' 'INH1'
 'MIH1' 'MNH1' 'MOH1 ' 'NEH1' 'NEH2' 'NYH1' 'NYH2' 'NYH3' 'OHH1' 'SCH1'
 'TXH1' 'TXH2' 'TXH3' 'W1H1' 'W1H2']

In [ ]:
print(Soil_data.columns)

Index(['Grower', 'Location', 'Date Received', 'Date Reported', 'E Depth',
       '1:1 Soil pH', 'WDRF Buffer pH', '1:1 S Salts mmho/cm', 'Texture No',
       'Organic Matter LOI %', 'Nitrate-N ppm N', 'lbs N/A', 'Potassium ppm K',
       'Sulfate-S ppm S', 'Calcium ppm Ca', 'Magnesium ppm Mg',
       'Sodium ppm Na', 'CEC/Sum of Cations me/100g', '%H Sat', '%K Sat',
       '%Ca Sat', '%Mg Sat', '%Na Sat', 'Mehlich P-III ppm P', '% Sand',
       '% Silt', '% Clay', 'Texture', 'Comments'],
      dtype='object')

#Weather data exploration.

In [ ]:
Weather_data = pd.read_csv("/content/drive/MyDrive/University of reading/MSC FINAL project/Data/Data Files/Weather_data/2019_weather_cleaned[1].csv", low_memory = False)

In [ ]:
len(Weather_data.columns)

23

In [ ]:
Weather_data[["Field Location","Temperature [C]","Relative Humidity [%]","Soil Temperature [C]","Soil Moisture [%VWC]"]].sample(n=3)

,Field Location,Temperature [C],Relative Humidity [%],Soil Temperature [C],Soil Moisture [%VWC]
22196,GAH2,30.61,100.0,23.22,3.2
82203,ILH1,14.83,87.7,20.56,25.6
112135,MOH1,25.22,75.1,23.33,37.0

In [ ]:
print(Weather_data["Field Location"].unique())
print(Weather_data["Station ID"].unique())

['COH1' 'DEH1' 'GAH1' 'GAH2' 'GEH1' 'IAH1' 'IAH2' 'IAH3' 'IAH4' 'ILH1'
 'INH1' 'MIH1' 'MNH1' 'MOH1' 'NCH1' 'NEH1' 'NEH2' 'NYH2' 'NYH3' 'OHH1'
 'ONH2' 'SCH1' 'TXH1' 'TXH2' 'TXH4' 'WIH1' 'WIH2']
[ 8658  9079  8427  8631  9085  9080 11859  9082  8653  8657  9078  8650
  8645  8659 10801 18037  9086  9087 10800  8652  8655  8428 14790  8630
  8648]

In [ ]:
print(Weather_data.columns)

Index(['Field Location', 'Station ID', 'NWS Network', 'NWS Station',
       'Date_key', 'Month', 'Day', 'Year', 'Time', 'Temperature [C]',
       'Dew Point [C]', 'Relative Humidity [%]', 'Solar Radiation [W/m2]',
       'Rainfall [mm]', 'Wind Speed [m/s]', 'Wind Direction [degrees]',
       'Wind Gust [m/s]', 'Soil Temperature [C]', 'Soil Moisture [%VWC]',
       'Soil EC [mS/cm]', 'UV Light [uM/m2s]', 'PAR [uM/m2s]', 'CO2 [ppm]'],
      dtype='object')

#Phenotype data Exploration.

In [ ]:
Phenotype_data = pd.read_csv("/content/drive/MyDrive/University of reading/MSC FINAL project/Data/Data Files/phenotype_data/g2f_2019_phenotypic_clean_data[1].csv",low_memory = False)

In [ ]:
len(Phenotype_data.columns)

44

In [ ]:
Phenotype_data[["Family","Pedigree","Plant Height [cm]","Ear Height [cm]","Grain Moisture [%]"]].sample(n=3)

,Family,Pedigree,Plant Height [cm],Ear Height [cm],Grain Moisture [%]
6229,MO44_PHW65,MO44_PHW65_0167/LH195,253.0,132.0,27.70
4885,PHW65_MOG,PHW65_MOG_0271/LH195,232.0,110.0,24.90
17504,Yellow Stripe,2369/LH123HT,221.0,71.0,10.92

In [ ]:
print(Phenotype_data["Field-Location"].unique())
#note Within the field locations there are some locations that are not present in both weather and soil these can be extrapolated.

['COH1' 'DEH1' 'GAH1' 'GAH2' 'GEH1' 'IAH1' 'IAH2' 'IAH3' 'IAH4' 'ILH1'
 'INH1' 'MIH1' 'MNH1' 'MOH1' 'NCH1' 'NEH1' 'NEH2' 'NYH1' 'NYH2' 'NYH3'
 'OHH1' 'ONH2' 'SCH1' 'TXH1' 'TXH2' 'TXH3' 'TXH4' 'WIH1' 'WIH2']

In [ ]:
COH1dataset = Phenotype_data[Phenotype_data['Field-Location'] == 'COH1']

In [ ]:
Phenotype_data['Date Plot Planted [MM/DD/YY]'].unique()

array(['6/10/19', '5/9/2019', '3/28/19', '4/12/19', nan, '5/14/19',
       '6/6/19', '4/26/19', '5/6/19', '6/3/19', '5/21/19', '6/5/19',
       '5/27/19', '5/16/19', '5/13/19', '5/17/19', '6/8/19', '5/23/19',
       '6/7/19', '6/19/19', '5/2/19', '3/20/19', '5/12/19'], dtype=object)

In [ ]:
print(Phenotype_data.columns)

Index(['Year', 'Field-Location', 'State', 'City',
       'Plot length (center-center in feet)', 'Plot area (ft2)',
       'Alley length (in inches)', 'Row spacing (in inches)', 'Rows per plot',
       'Kernels/Packet', '# Seed per plot', 'Source', 'Pedigree', 'Family',
       'Tester', 'Replicate', 'Block', 'Plot', 'Range', 'Pass',
       'Date Plot Planted [MM/DD/YY]', 'Date Plot Harvested [MM/DD/YY]',
       'Anthesis [MM/DD/YY]', 'Silking [MM/DD/YY]', 'Anthesis [days]',
       'Silking [days]', 'Plant Height [cm]', 'Ear Height [cm]',
       'Stand Count [# of plants]', 'Root Lodging [# of plants]',
       'Stalk Lodging [# of plants]', 'Grain Moisture [%]',
       'Test Weight [lbs]', 'Plot Weight [lbs]', 'Grain Yield (bu/A)',
       'Plot Discarded [enter 'yes' or blank]', 'Comments',
       'Filler [enter 'filler' or blank]', 'Possible subs', 'Confirmed subs',
       'Single Plant Biomass in July(g)', 'Single Plant Biomass in August(g)',
       'RootPullingForce(kgf)_July', 'RootPullingForce(kgf)_August'],
      dtype='object')

In [ ]:
print(Phenotype_data["Grain Yield (bu/A)"].isnull().sum())
print(len(Phenotype_data["Grain Yield (bu/A)"]))
Phenotype_data[Phenotype_data["Grain Yield (bu/A)"].notnull()]
Phenotype_data[Phenotype_data["Grain Yield (bu/A)"].notnull()].describe()

1030
20952

,Year,Plot length (center-center in feet),Plot area (ft2),Alley length (in inches),Row spacing (in inches),Rows per plot,Kernels/Packet,# Seed per plot,Replicate,Block,Plot,Range,Pass,Anthesis [days],Silking [days],Plant Height [cm],Ear Height [cm],Stand Count [# of plants],Root Lodging [# of plants],Stalk Lodging [# of plants],Grain Moisture [%],Test Weight [lbs],Plot Weight [lbs],Grain Yield (bu/A),Single Plant Biomass in July(g),Single Plant Biomass in August(g),RootPullingForce(kgf)_July,RootPullingForce(kgf)_August
count,19922.0,19922.000000,19922.000000,19922.000000,19922.000000,19922.0,19435.000000,19922.000000,19922.000000,19922.000000,19922.000000,19918.000000,19920.000000,17240.000000,16597.000000,19897.000000,19896.000000,19192.000000,16866.000000,18148.000000,19922.000000,18039.000000,19922.000000,19922.000000,0.0,0.0,0.0,0.0
mean,2019.0,19.311213,83.073785,36.592310,30.737577,2.0,69.612092,82.440618,1.494729,4.293244,459.261821,15.207149,41.203313,64.563225,65.322227,224.376560,107.854135,63.132086,1.557008,2.488318,22.369735,55.908627,20.375359,175.255058,NaN,NaN,NaN,NaN
std,0.0,2.299331,12.221595,11.434061,2.401057,0.0,20.857641,9.474232,0.499985,2.836038,364.265693,11.504116,38.756126,6.659307,6.382004,30.086444,24.323485,12.361911,5.662320,6.576376,7.111288,4.776756,5.788555,47.874940,NaN,NaN,NaN,NaN
min,2019.0,15.000000,62.500000,24.000000,30.000000,2.0,35.000000,50.000000,1.000000,1.000000,1.000000,1.000000,1.000000,42.000000,46.000000,93.000000,30.000000,2.000000,0.000000,0.000000,6.890000,26.800000,1.320000,12.418756,NaN,NaN,NaN,NaN
25%,2019.0,17.250000,72.500000,30.000000,30.000000,2.0,47.000000,80.000000,1.000000,2.000000,187.000000,7.000000,15.000000,60.000000,61.000000,202.000000,92.000000,55.000000,0.000000,0.000000,17.900000,52.500000,16.930000,143.463323,NaN,NaN,NaN,NaN
50%,2019.0,18.500000,84.000000,33.000000,30.000000,2.0,80.000000,80.000000,1.000000,4.000000,370.000000,12.000000,27.000000,64.000000,65.000000,228.000000,110.000000,64.000000,0.000000,0.000000,22.300000,55.200000,20.503800,176.718695,NaN,NaN,NaN,NaN
75%,2019.0,22.000000,95.000000,42.000000,30.000000,2.0,90.000000,90.000000,2.000000,6.000000,636.000000,20.000000,56.000000,69.000000,70.000000,247.000000,125.000000,71.000000,0.000000,2.000000,26.400000,58.500000,23.940000,209.802404,NaN,NaN,NaN,NaN
max,2019.0,25.000000,106.666667,72.000000,40.000000,2.0,90.000000,100.000000,2.000000,12.000000,1600.000000,55.000000,207.000000,88.000000,90.000000,307.000000,190.000000,98.000000,80.000000,74.000000,44.800000,85.000000,42.070000,299.710887,NaN,NaN,NaN,NaN

In [ ]:
Phenotype_data['Field-Location'].value_counts()

WIH2    1600
IAH4    1600
MNH1    1600
DEH1    1000
NCH1    1000
IAH3     960
IAH2     960
WIH1     800
MOH1     800
NYH2     800
NYH3     800
TXH4     712
TXH1     712
IAH1     696
TXH3     512
TXH2     512
GAH2     512
GAH1     512
ONH2     500
SCH1     500
NYH1     500
OHH1     500
MIH1     500
INH1     500
ILH1     500
GEH1     500
NEH2     400
NEH1     400
COH1      64
Name: Field-Location, dtype: int64

In [ ]:
Phenotype_data['Grain Yield (bu/A)'].isna()

0         True
1         True
2         True
3         True
4         True
         ...
20947    False
20948    False
20949    False
20950    False
20951    False
Name: Grain Yield (bu/A), Length: 20952, dtype: bool